.list-item {
    padding: 10px 30px;
    border-bottom: 0.1px solid #80808040;
    line-height: 30px;
}
.list-item.active {
    background-color: #8080802e;
}
.list-title {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.list-contents {
    font-size: 14px;
    color: gray;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}