div.header {
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    height: 40px;
    border-bottom: 0.1px solid #80808040;
}

div.header > div.title > span {
    line-height: 39px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

div.header > div.buttons {
    margin-left: auto;
    width: 60px;
    position: relative;
    overflow: hidden;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

div.header > div.buttons > button.add > img.image {
    position: absolute;
    width: 119%;
    top: -13px;
    left: -5px;
}