div.header {
    display: flex;
    flex-direction: row;
    padding: 10px 25px;
    font-weight: bold;
}

div.header > div.title {
    flex: none;
}

div.header > div.buttons {
    margin-left: auto;
}

img.add {
    /* background-image: url('../../images/plus2.png'); */
    border: 0;
}

img.del {
    /* background-image: url('../../images/trash4.png'); */
}

img.image {
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}